<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
</head>

<body>
    {{>navbar}}

    <section id="about-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="about-text border-right">
                        <h1>Exotic Red Roses</h1>
     <p>"Let us be grateful to the people who make us happy; they are the charming gardeners who make our souls blossom".</p>

                        <button class="btn btn-warning">Buy now</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="about-text border-right">
                        <h1>Orchid Basket</h1>
                        <p>"Let us be grateful to the people who make us happy; they are the charming gardeners who make our souls blossom".</p>
                        <button class="btn btn-warning">Buy now</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="about-text">
                        <h1>Asiatic Lilies</h1>
                        <p>"Let us be grateful to the people who make us happy; they are the charming gardeners who make our souls blossom".</p>
                        <button class="btn btn-warning">Buy now</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
 <section id="recent-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="team-top-header text-center">
                        <h1>Quick Search</h1>
                        <p>Choose the flowers of your choice</p>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="recent-text">
                                <img class="img-fluid"
                                    src="https://images.pexels.com/photos/697259/pexels-photo-697259.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                                    alt="" />
                                                            <h1>Exotic Red Roses</h1>
     <p>"Let us be grateful to the people who make us happy; they are the charming gardeners who make our souls blossom".</p>
                                <button class="btn btn-warning">Shop Now</button>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="recent-text">
                                <img class="img-fluid"
                                    src="https://images.pexels.com/photos/1621168/pexels-photo-1621168.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                                    alt="" />
                                                            <h1>Exotic Orchid</h1>
     <p>"Let us be grateful to the people who make us happy; they are the charming gardeners who make our souls blossom".</p>
                                <button class="btn btn-warning">Shop Now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>